@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

/* This is to make sure that code is not soft-wrapped */
.highlight pre {
    word-wrap: normal;
}

.highlight pre code {
    white-space: pre;
}
/* END */

/* This is the color for the http://fortawesome.github.io/ fonts */
.fa {
  color: #404040;
}
/* END */

.blogpost h3, .blogpost h4, .blogpost h5 {
  font-weight: bold;
  padding-top: 0.20em;
  padding-bottom: 0.50em;
}

body {
  font-family: "Roboto", Verdana, Geneva, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

.navbar {
  font-size: 14px;
  line-height: 1em;
}

.jumbotron {
  padding-top: 5em;
  padding-bottom: 4em;
}

blockquote {
  font-size: 16px;
}

.footer {
  background-color: #eee;
  text-align: center;
  padding: 3em;
  margin-top: 1em;
  font-size: small;
}

.after-title {
  padding-bottom: 1em;
  color: gray;
  font-size: small;
}

#disqus_thread {
  padding-top: 1em;
  padding-bottom: 1em;
}
