---
title: News
---

{% for post in paginator.posts %}
    {% include blogpost_macro.html page=post content=post.excerpt list_posts=true %}
    <nav>
      <ul class="pager">
        <li class="previous"><a href="{{ post.url }}">Continue Reading</a></li>
      </ul>
    </nav>
    <hr>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left"></i></a>
  {% else %}
    <i class="fa fa-chevron-left"></i>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="glyphicon glyphicon-chevron-right"></span></a>
  {% else %}
    <i class="fa fa-chevron-right"></i>
  {% endif %}
</div>
{% endif %}
