
</br>
</br>

<div class="row">
  <div class="col-xs-3 text-center">
      <a href="https://www.linkedin.com/in/dbarrosop"><i class="fa fa-linkedin-square fa-3x"></i></a>
  </div>
  <div class="col-xs-3 text-center">
      <a href="https://twitter.com/dbarrosop"><i class="fa fa-twitter-square fa-3x"></i></a>
  </div>
  <div class="col-xs-3 text-center" >
      <a href="https://github.com/dbarrosop"><i class="fa fa-github-square fa-3x"></i></a>
  </div>
  <div class="col-xs-3 text-center" >
      <a href="/feed.xml"><i class="fa fa-rss-square fa-3x"></i></a>
  </div>
</div>

</br>

{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

    {% if forloop.first %}
    <h4 id="{{ this_year }}-ref">{{this_year}}</h4>
    <h5 id="{{ this_year }}-{{ this_month }}-ref">{{ this_month }}</h5>
    <ul>
    {% endif %}

    <li><a href="{{ post.url }}">{{ post.title }}</a></li>

    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h4 id="{{ next_year }}-ref">{{next_year}}</h4>
        <h5 id="{{ next_year }}-{{ next_month }}-ref">{{ next_month }}</h5>
        <ul>
        {% else %}
            {% if this_month != next_month %}
            </ul>
            <h5 id="{{ this_year }}-{{ next_month }}-ref">{{ next_month }}</h5>
            <ul>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}

</br>

<a class="twitter-timeline" href="https://twitter.com/dbarrosop" data-widget-id="680307581999562752">Tweets by @dbarrosop</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
