{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="page-header">
        <h1>{{page.title}} <small>{{page.subtitle}}</small></h1>
      </div>

      {{ content }}

      {% for tag in site.data.tags %}
        {% if tag.name == page._tag %}
        {{tag.description}}
        {% endif %}
      {% endfor %}

      {% if page._tag %}

      {% include macro/sort_posts_by_date.html filter_by='tag' tag=page._tag  %}

      {% endif %}

    </div>
  </div>
</div>

{% include footer.html %}
